@font-face {
   font-family: 'BrownPro-Bold';
   src: local('BrownPro-Bold'), url('../assets/fonts/lineto-brown-pro-bold.woff') format('woff');
}

@font-face {
   font-family: 'BrownPro-Regular';
   src: local('BrownPro-Regular'), url('../assets/fonts/lineto-brown-pro-regular.woff') format('woff');
}