@font-face {
   font-family: 'BrownPro-Bold';
   src: local('BrownPro-Bold'), url('./assets/fonts/lineto-brown-pro-bold.woff') format('woff');
}

@font-face {
   font-family: 'BrownPro-Regular';
   src: local('BrownPro-Regular'), url('./assets/fonts/lineto-brown-pro-regular.woff') format('woff');
}

body {
   margin: 0;
   color: rgba(0, 0, 0, 0.85);
   font-family: 'BrownPro Regular', sans-serif;
   font-weight: 400;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}
